.home{
    margin-top: 174px;
    text-align: center;
}
.home h2{
    text-transform: uppercase;
    color: #000;
}
.home input {
    width: 270px;
    padding: 9px 0px 13px 10px;
    background: #FBFBFB;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right: -8px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.home .cards{
    height: 320px;
    background-position: center center;
    background-size: cover;

}
.home .col-md-3 {
    flex: 0 0 25% !important;
    max-width: 23% !important;
    margin: 11px !important;
    padding: 0 !important;
}
.home .cards-btn {
    width: 100% !important;
    min-height: 94px;
    color: #FBFBFB;
}