/* ----------bg header css start------------ */


.white-header{
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 496px;
    left: 0px;
    top: 0px;
    color: #000;
     z-index: -1;

}



/* -------------common css both header---------- */
  /* .headerBtn{
      background-color: #F9A51A;
      color: #000000;
      padding: 5px 15px;
      margin-left: 45px;
      border: 1px white;
  } */
  .white-nav .btn{
    padding: 5px 15px;
    margin-left: 45px;
  }
  .white-nav{
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
 } 
 
 .white-nav li{
    display: inline;
    margin-left: 40px;  
  }
 
  /* ----------white header css start -----------*/
.white-header .logo{
    height: 40px;
    margin-right: 310px;
}
  .white-header .white-nav a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
  }
 

