.login-form {
    margin: auto;
    width: 380px;
    padding: 10px;
    margin-top: 200px;
    background:#fff;
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 30px 30px;
  }
.login-form input{
    display: block;
    margin-top: 20px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
    width: 300px;
}
.login-form input:focus{
    border: none;
    border-bottom: 1px solid gray;
}
.error{
    color: red;
}
 .login-form :focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.login-form ::placeholder { 
    color: rgb(65, 60, 60) !important;
  }
  .login-form input[type=submit]{
    background: #F9A51A;
  }



