.login-form {
    margin: auto;
    width: 380px;
    padding: 10px;
    margin-top: 100px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 30px 30px;
  }
  .logo-button {
    padding: 0px 27px;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 57px;
    margin-bottom: 10px;
    width: 300px;
  }
.login-form img {
  width: 23px;
  margin: 5px 19px 5px 0px;
  cursor: pointer;
}
